Identify best cities to invest in real estate
    This does not apply to super expensive cities like Down town San Francisco or Manhattan
    This does not apply to very bad neightborhoods (warzones)
## CITIES REALFOCUS FACTORS   
### 1. Population growth
 Population data is retrieved from https://www.city-data.com

| City type | Population | Ideal Rate of Growth (2000-2017) | Ideal rate of growth per year afterwards
| :- | :- |:- | :- |
| Large metro cities | 1-2 Million | 15% | 1%
| Micro cities | < 250k | 30% | 1.5%
| Moderate | 250k-1 Million | 21.25% | 1.25


### 2. Median Household Income
    Look for 31.5% income growth between 2000 and 2017. Applies to cities of all cities. In 2021 add 1.25%
    Data is retrieved from https://www.city-data.com


### 3. Median House/Condo Value 
    Look for 42.5% growth between 2000 and 2016. Applies to cities of all sizes. In 2021 add 2.5%
    Data is retrieved from https://www.city-data.com

### 4. Change in Crime Levels
    Look for the most recent crime number below 500. Applies to cities of all sizes.
    Data is retrieved from https://www.city-data.com

### 5. Month Job Growth

| City type | Population | Annulized Rate of Growth (2000-2017) 
| :- |:- | :- |
| Large metro cities | > 1 Million | 1.5%
| Other cities| <  1 Million | 2%

    No need to +/- for beyond years
    
### 5. NEIGHBORHOOD REALFOCUS
    
### 1. Poverty Level

    The neighborhood's poverty rate should be under 25%, but under 15% preferred if you are risk-averse


Reference: Webinar by

In [25]:
import pandas as pd

In [26]:
cities_data = 'data/cities_market_data.csv'
df = pd.read_csv(cities_data)
df.head()

,city,population_2000,population_2017,pop_growth_%,median_income_2000,median_income_2017,income_growth_%,median_house_2000,median_house_2017,median_house_growth_%,crime_index_2005,crime_index_2018,crime_increase_%,poverty_rate_%
0,Flint-Michigan,124932,96448,-22.8,28015,26901,-3.98,49100,27400,-44.20,1000.1,670.5,-11.54,38.9
1,Detroit-Michigan,950711,673104,-29.2,29526,30344,2.77,62800,50200,-20.06,1042.3,838.2,-8.41,34.5
2,Youngstown-Ohio,81984,64604,-21.2,24201,28843,19.18,40700,41400,1.72,752.9,440.0,3.46,34.9
3,Gary-Indiana,102713,76008,-26.0,27195,26669,-1.93,51900,66900,28.90,626.8,436.7,0.82,36.3
4,Reading-Pennsylvania,81196,88423,8.9,26698,31160,16.71,45000,70000,55.56,724.7,358.7,4.86,30.7

In [30]:
# applying the location factors
popln_growth_filter = (((df['population_2017'] > 1000000) & (df['pop_growth_%'] > 15)) |
                       (df['population_2017'].between(250000, 1000000) & df['pop_growth_%'] > 21.25) |
                       ((df['population_2017'] < 250000) & (df['pop_growth_%'] > 30)))

median_income_filter = df['income_growth_%'] > 31.5
median_house_filter = df['median_house_growth_%'] > 42.5
crime_level_filter = df['crime_index_2018'] < 500

poverty_rate_filter = df['poverty_rate_%'] < 25



df_filter = df.loc[popln_growth_filter & median_income_filter & median_house_filter & crime_level_filter, :]
# df_filter = df.loc[median_income_filter & median_house_filter & crime_level_filter, :]

#playing around
pop_filter = df['population_2017'] > 200000
df_filter = df_filter.loc[pop_filter,:]

df_filter.count()
df_filter

,city,population_2000,population_2017,pop_growth_%,median_income_2000,median_income_2017,income_growth_%,median_house_2000,median_house_2017,median_house_growth_%,crime_index_2005,crime_index_2018,crime_increase_%,poverty_rate_%
77,San-Antonio-Texas,1144546,1511946,32.1,36214,50044,38.19,67500,148200,119.56,496.3,395.1,3.46,17.3
126,Houston-Texas,1953308,2312717,18.4,36616,50896,39.00,77500,173600,124.00,659.6,497.7,0.06,20.6
284,Phoenix-Arizona,1320940,1626078,23.1,41207,56696,37.59,107000,231000,115.89,578.3,396.8,3.53,16.8
407,Fontana-California,128919,211815,64.3,45782,67067,46.49,128700,373600,190.29,278.4,184.4,6.34,13.4
409,Santa-Clarita-California,151065,210888,39.6,66717,90961,36.34,216900,536700,147.44,169.5,105.1,-0.82,9.7